#project-form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 300px;
    background-color: #d63b3f;
    backdrop-filter: blur(10px);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
#project-name{
    width: 300px;
}
#form-divs{
    top: 85%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    gap: 30px;
}
#task-div{
    width: 40px;
    height: 40px;
    display: grid;
    place-items: center;
    border-radius: 5px;
    color: white;
}
#project-div{
    width: 60px;
    height: 40px;
    display: grid;
    place-items: center;
    border-radius: 5px;
    color: white;
}
#form-delete-button{
    position: absolute;
    left: 95%;
    top: 2%;
    color: white;
    cursor: pointer;
    font-size: 20px;
}