#project{
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
}
#project-add{
    width: 88vw;
    height: 3vh;
    display: flex;
    justify-content: end;
}

.project-names{
    color: #d63b3f;
    cursor: pointer;
    display: flex;
}
#project-delete-button{
    cursor: pointer;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    color: #d63b3f;
    font-size: 16px;
}